.home__container{
    position: relative;
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home__section{
    position: relative;
    width: 50%;
    height: 100%;
}

.home__left{
    background-color: var(--color2);
}

.home__right{
    background-color: var(--color3);
}

.home__left > p{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    right: 50%;
    font-size: larger;
    color: var(--color1);
    text-shadow: 0 5px 15px var(--color3);
}

.home__right > p{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    left: 50%;
    font-size: larger;
    color: var(--color1);
    text-shadow: 0 5px 15px var(--color2);
}


.home__center{
    position: absolute;
    width: 400px;
    height: 300px;
    display: flex;
    background-color: var(--color5);
}

.home__center__left{
    background-color: var(--color3);
}

.home__center__right{
    background-color: var(--color2);
}