.form__container{
    width: 100%;
    height: 100%;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-sizing: border-box;
    width: 300px;
    height: max-content;
    background-color: var(--color3);
    border: 5px solid #111111;
    border-radius: 10px;
}

.form__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.form__row:first-child{
    margin-top: 20px;
}

.form__row > input, textarea {
    border-radius: 10px;
    border: 1.5px solid var(--color1);
}

.form__row > input:focus, textarea:focus{
    outline: none;
 }

.button{
    justify-content: center;
    cursor: pointer;
}

.form__button{
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-self: center;
    border-radius: 30px;
    background-color: var(--color1);
    color: #f5f5f5
}

@keyframes highlight {
    from{
        background-color: rgb(251, 130, 130);
    }
    to{
        background-color: white;
    }
}