.auth__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 10%;
    width: 300px;
    height: max-content;
    border-radius: 30px;
    box-shadow: 0 10px 25px indigo;
    transition: height 1s;
}

.auth__wrapper{
    margin: 20px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: max-content;
    transition: height 1s;
}

.auth__title{
    align-self: center;
    font-weight: 300;
}

.error{
    height: 0;
    color: red;
    align-self: center;
    animation: pop 1s ease forwards;
}

@keyframes pop {
    from{
        height: 0%;
        opacity: 0;
    }
    to{
        height: 100%;
        opacity: 1;
    }
}

.auth__row{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
}

.auth__row > input{
    border-radius: 10px;
    outline: none;
    border: 2px dashed indigo;
}



.auth__btn{
    margin-top: 5px;
    width: 30px;
    padding: 8px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    border: 2px solid indigo;
    cursor: pointer;
}
